# Data & Volumes
qdrant_data*
storage
models
bin
bge-m3*
src*archive*
logs
data
snapshots
examples
docs
**/qdrant_data*
**/storage
**/models
**/bin
**/bge-m3*

# System & IDE
.git
.github
.idea
.vscode
.DS_Store
.vortex
.pytest_cache
.ruff_cache
__pycache__

# Temporary & Cache
**/*.pyc
**/*.pkl
**/*.model
**/*.tar
**/*.zip
**/*.tar.gz
**/*.log

# Environmental Secrets
.env
.env.*
*.env

